body {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
}

div {
  text-align: center;
  box-shadow: 0 0 5px #888;
  border-radius: 40px;
  padding: 1%;
  margin: 1% auto;
  width: 100%;
  background-color: #f0f0f0;
}
